@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    margin: 0;
}

.custom-hover-effect {
    position: relative;
    display: inline-block;
}

.custom-hover-effect .hover-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s ease-in-out;
}

.custom-hover-effect:hover .hover-line {
    width: 100%;
}

body{
    @apply bg-bgMain
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.custom-ul > *:not(:first-child):not(:last-child) {
    @apply mx-5
}

.custom-ul > *:last-child{
    @apply ml-5
}

.custom-ul > *:first-child{
    @apply mr-5
}

.card-ul > *:not(:first-child):not(:last-child) {
    @apply mx-11
}

.card-ul > *:last-child{
    @apply ml-11
}

.card-ul > *:first-child{
    @apply mr-11
}

.shadow-card{
    position: absolute;
    width: 16vw;
    height: 13vw;
    bottom: 0;
    background: linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, #0F1E29 100%);
    border-radius: 12px;
}

@media (max-width: 1024px) {
    .shadow-card{
        width: 20vw;
        height: 10vw;
    }
}

@media (max-width: 766px) {
    .shadow-card{
        width: 40vw;
        height: 10vw;
    }
}

.profile-nav-item {
    @apply transition duration-300 sm:hover:text-pink-300 md:hover:text-white rounded-xl md:hover:bg-primaryText
}
